#webThree{ 
margin: 0em auto; 
padding: 0em; 
min - width:972px; 
width:100 %; 
position:relative; 
overflow:hidden; 
} 

#webThree #footer{ 
width:100 %; 
clear:both; 
position:relative; 
z - index:18; 
overflow:hidden; 
background - color:transparent; 
color:#ffffff; 
} 

.searchbutton 
{ 
	width: 17px; 
	height: 17px; 
	padding: 10px; 
	position: absolute; 
	right:5px; 
	top:3px; 
	opacity:0.25; 
} 

